<f:layout name="BackendSubModule" />

<f:section name="content">
    <legend>Veröffentlichung erstellt</legend>
    <div class="neos-module-container">
        <p>Deine Veröffentlichung wurde erfolgreich erstellt und dem Reviewer zur Überprüfung vorgelegt.</p>
    </div>
    <div class="neos-footer">
        <f:if condition="{inEmbedMode}">
            <f:then>
                <button class="neos-button neos-button-success" onclick="exit()" type="button">Abschließen</button>
            </f:then>
            <f:else>
                <f:link.action action="index" class="neos-button neos-button-success">Abschließen</f:link.action>
            </f:else>
        </f:if>
    </div>
</f:section>